body {
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#summonerSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Added to provide space between inputs and button */
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#playerInfo {
    margin-top: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

#playerInfo p {
    color: #fff;
}

#playerInfo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
