body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}

#playerInfo {
    margin-top: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

#playerInfo p {
    color: #fff;
}

#playerInfo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
